# --- OS junk
.DS_Store
Thumbs.db

# --- VS Code
.vscode/

# --- Java builds
*.class
bin/
out/
build/
target/
dist/
release/
classes/

# --- Logs / coverage
*.log
test-output/
surefire-reports/
failsafe-reports/
jacoco*.exec
coverage/

# --- Archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- IDE metadata
.idea/
*.iml
.project
.classpath
.settings/

# --- Tools
.gradle/
.mvn/
gradlew
gradlew.bat
gradle/
